@page "/project-hub/{ProjectIdAsString}"
@using ClassLibrary_SEP3
@using BlazorAppTEST.Services
@using BlazorAppTEST.Services.Interface
@using ClassLibrary_SEP3
@using ClassLibrary_SEP3.DataTransferObjects

@using Task = System.Threading.Tasks.Task
@using TaskStatus = ClassLibrary_SEP3.TaskStatus
@inject ILogBookService LogBookService
@inject TaskService TaskService;
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager

<div class="container-fluid">
    <div class="container">
        <!--Title-->
        <h2>Project Hub for Project ID: @ProjectIdAsString</h2>

        <button class="btn btn-primary" @onclick="NavigateToProjectMembers">View Project Members</button>
        <button class="btn btn-primary" @onclick="NavigateToAddNewUser">Add User</button>


        <!-- Sprints Card -->
        <div class="card sprints-button-card" style="margin-bottom: 1em;">
            <p style="font-size: 1.5em; font-weight: bold; margin-bottom: 0.5em;">Sprints</p>
            <button class="btn btn-primary" @onclick="NavigateToSeeSprints">See all sprints</button>
        </div>


        <!--Backlog section-->
        <div class="card backlog-section" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
            <p style="font-size: 1.5em; font-weight: bold; margin-bottom: 0.5em;">Backlog</p>
            <table style="width: 100%; border-collapse: collapse;">
                <thead>
                <tr style="background-color: #4C5270; color: white;">
                    <th style="padding: 10px; font-weight: bold; border: 3px solid #4C5270;">Requirement Nr</th>
                    <th style="padding: 10px; font-weight: bold; border: 3px solid #4C5270;">Estimate Time</th>
                    <th style="padding: 10px; font-weight: bold; border: 3px solid #4C5270;">Actual Time</th>
                    <th style="padding: 10px; font-weight: bold; border: 3px solid #4C5270;">Status</th>
                    <th style="padding: 10px; font-weight: bold; border: 3px solid #4C5270;">Sprint</th>
                    <th style="padding: 10px; font-weight: bold; border: 3px solid #4C5270;">Actions</th>
                </tr>
                </thead>
                <tbody>
                @for (int i = 0; i < BacklogEntriesList.Count; i++)
                {
                    var entry = BacklogEntriesList[i];
                    <tr style="background-color: @(i % 2 == 0 ? "#2B3A67" : "#2B2B2B");">
                        <td style="padding: 10px; border: 3px solid #4C5270;">@entry.RequirmentNr</td>
                        <td style="padding: 10px; border: 3px solid #4C5270;">@entry.EstimateTime</td>
                        <td style="padding: 10px; border: 3px solid #4C5270;">@entry.ActualTime</td>
                        <td style="padding: 10px; border: 3px solid #4C5270;">@entry.Status</td>
                        <td style="padding: 10px; border: 3px solid #4C5270;">@entry.Sprint</td>
                        <!-- Additional cells for other properties and actions -->
                    </tr>
                }
                </tbody>
            </table>
            <div style="text-align: center; margin-top: 10px;">
                <button class="btn btn-primary" @onclick="NavigateToCreateBacklogEntry">Create Backlog Entry</button>
            </div>
        </div>


        <!-- Logbook section -->
        <div class="card logbook-section" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
            <p style="font-size: 1.5em; font-weight: bold; margin-bottom: 0.5em;">Logbook Entries</p>
            <table style="width: 100%; border-collapse: collapse;">
                <thead>
                <tr style="background-color: #4C5270; color: white;">
                    <th style="padding: 10px; font-weight: bold; border: 3px solid #4C5270;">Owner Username</th>
                    <th style="padding: 10px; font-weight: bold; border: 3px solid #4C5270;">Description</th>
                    <th style="padding: 10px; font-weight: bold; border: 3px solid #4C5270;">Created Time Stamp</th>
                    <th style="padding: 10px; font-weight: bold; border: 3px solid #4C5270;">Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var entry in LogBookEntries)
                {
                    <tr style="background-color: @(LogBookEntries.IndexOf(entry) % 2 == 0 ? "#2B3A67" : "#2B2B2B");">
                        <td style="padding: 10px; border: 3px solid #4C5270;">@entry.OwnerUsername</td>
                        <td style="padding: 10px; border: 3px solid #4C5270;">@entry.Description</td>
                        <td style="padding: 10px; border: 3px solid #4C5270;">@entry.CreatedTimeStamp.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td style="padding: 10px; border: 3px solid #4C5270;">
                            <button class="btn btn-secondary" style="font-weight: bold;" @onclick="() => EditLogbookEntry(entry.EntryID)">Edit</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <div style="text-align: center; margin-top: 10px;">
                <button class="btn btn-primary your-custom-class" @onclick="NavigateToCreateEntry">Create New Entry</button>
            </div>
        </div>
    </div>
</div>


@code
{

    [Parameter]
    public string ProjectIdAsString { get; set; }

    public Project? Project { get; set; }
    public List<ClassLibrary_SEP3.Task?>? BacklogTasks { get; set; }
    public List<LogBookEntryPoints>? LogBookEntries { get; set; } = new List<LogBookEntryPoints>();
    public List<BacklogEntries> BacklogEntriesList { get; set; } = new List<BacklogEntries>();
    private AddBacklogTaskRequest newTask = new AddBacklogTaskRequest();
    public string EmptyHelper { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        try
        {
            var logbook = await LogBookService.GetEntriesForLogBook(ProjectIdAsString);
            LogBookEntries = logbook?.LogBookEntryPoints ?? new List<LogBookEntryPoints>();
            if (!LogBookEntries.Any())
            {
                EmptyHelper = "LogBookEntries are empty";
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            JSRuntime.InvokeVoidAsync("alert", "Failed to fetch some data from the server");
        }
    }

    private void NavigateToProjectMembers()
    {
        NavigationManager.NavigateTo($"/project-hub/{ProjectIdAsString}/project-members");
    }

    private void NavigateToAddNewUser()
    {
        NavigationManager.NavigateTo($"/project-hub/{ProjectIdAsString}/AddNewUserIntoProject");
    }

    private async void AddTask()
    {
        var task = new AddBacklogTaskRequest()
        {
            ProjectId = ProjectIdAsString,
            Title = newTask.Title,
            Description = newTask.Description,
            EstimateTimeInMinutes = newTask.EstimateTimeInMinutes,
            Responsible = newTask.Responsible,
            Status = TaskStatus.ToDo,
            CreatedAt = DateTime.UtcNow
        };
        var response = await TaskService.CreateTask(task);

        BacklogTasks.Add(response);
        newTask = new AddBacklogTaskRequest();
        StateHasChanged();
    }


    //DeleteTask
    private async Task DeleteTask(string objectId)
    {
        try
        {
            await TaskService.DeleteTask(objectId, ProjectIdAsString);
            BacklogTasks.RemoveAll(task => task.Id == objectId);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            throw new NullReferenceException("Failed to delete Task");
        }
    }


    //Navigates
    private void EditLogbookEntry(string logbookEntryId)
    {
        NavigationManager.NavigateTo($"/edit-logbook-entry/{ProjectIdAsString}/{logbookEntryId}");
    }

    private void NavigateToCreateEntry()
    {
        NavigationManager.NavigateTo($"/create-new-entry-for-logbook/{ProjectIdAsString}");
    }

    private void NavigateToSeeSprints()
    {
        NavigationManager.NavigateTo($"/project-hub/{ProjectIdAsString}/createSprint");
    }

    private void NavigateToCreateBacklogEntry()
    {
        NavigationManager.NavigateTo($"/{ProjectIdAsString}/CreateBacklogEntry");
    }
}